[submodule "3rdparty/easyloggingpp"]
	path = 3rdparty/easyloggingpp
	url = https://github.com/muflihun/easyloggingpp.git
[submodule "3rdparty/eigen"]
	path = 3rdparty/eigen
	url = https://github.com/RLovelett/eigen.git
[submodule "3rdparty/mnist"]
	path = 3rdparty/mnist
	url = https://github.com/wichtounet/mnist.git
[submodule "3rdparty/Catch"]
	path = 3rdparty/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json.git
